body {
  height: 1000px;
  background-image: url(https://img-new.cgtrader.com/items/3597786/951a5d9a75/3d-maze-model-for-game-and-animations-3d-model-obj-fbx-dae.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
